.tophead{
      height: 90px;
      background-color: rgb(247, 31, 31);
      display: grid;
      grid-template-columns: 50% 35% 15%;
}
.tophead2{
    display: flex;
    gap: 45px;
    color: white;
    list-style: none;  
    align-items: center;
    margin-left: 90px;
}
.tophead3{
    color: white;
    display: flex;
    list-style: none;  
    align-items: center;
    gap: 35px;
}
