* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_8411 {
    width: 100%;
    height: 1080px;
    /* background: url("../images2/v1_84.png"); */
    background: url("../images2/v1_85.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_8511 {
    width: 100%;
    height: 100%;
    background: url("../images2/v1_85.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_9211 {
    width: 227px;
    height: 9px;
    /* background: url("../images2/v1_92.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 76px;
    left: 2057px;
    overflow: hidden;
  }
  .v1_9311 {
    width: 27px;
    /* background: url("../images2/v1_93.png"); */
    opacity: 0.8999999761581421;
    position: relative;
    top: 0px;
    left: 0px;
    border: 4px solid rgba(255,255,255,1);
  }
  .v1_9411 {
    width: 27px;
    /* background: url("../images2/v1_94.png"); */
    opacity: 0.8999999761581421;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 4px solid rgba(255,255,255,1);
  }
  .v1_11111 {
    width: 634px;
    height: 634px;
    background: url("../images2/v1_111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 628px;
    left: 1639px;
    overflow: hidden;
  }
  .v1_15211 {
    width: 274px;
    height: 310px;
    background: url("../images2/v1_152.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 1092px;
    overflow: hidden;
  }
  .v1_15311 {
    width: 500px;
    /* color: url("../images2/v1_153.png"); */
    position: absolute;
    top: 219px;
    left: 1102px;
    font-size: 76px;
    opacity: 1;
    text-align: left;
  }
  .v1_15511 {
    width: 695px;
    height: 93px;
    /* background: url("../images2/v1_155.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.800000011920929;
    position: absolute;
    top: 455px;
    left: 1102px;
    border: 2px solid rgba(27,31,37,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-size: 35px;
    font-weight: bold;
  }
  .v1_15611 {
    width: 695px;
    height: 93px;
    /* background: url("../images2/v1_156.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.800000011920929;
    position: absolute;
    top: 586px;
    left: 1102px;
    border: 2px solid rgba(27,31,37,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-size: 35px;
  }
  .v1_15711 {
    width: 28px;
    height: 28px;
    /* background: url("../images2/v1_157.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 716px;
    left: 1108px;
    border: 4px solid rgba(249,165,3,1);
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    transform: rotate(-1deg);
    overflow: hidden;
  }
  .v1_15811 {
    width: 180px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 713px;
    left: 1152px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 0.8999999761581421;
    text-align: left;
  }
  .v1_15911 {
    width: 155px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 493px;
    left: 900px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 24px;
    opacity: 0.4000000059604645;
    text-align: left;
  }
  .v1_16011 {
    width: 107px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 617px;
    left: 900px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 24px;
    opacity: 0.4000000059604645;
    text-align: left;
  }
  .v1_16111 {
    width: 213px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 713px;
    left: 1556px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 24px;
    opacity: 0.8999999761581421;
    text-align: left;
  }
  .v1_16211 {
    width: 209px;
    height: 70px;
    background: rgba(27,31,37,1);
    opacity: 1;
    position: absolute;
    top: 788px;
    left: 1108px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 17px rgba(0.08627451211214066, 0.0941176488995552, 0.11764705926179886, 0.17000000178813934);
    overflow: hidden;
  }
  .v1_16311 {
    width: 209px;
    height: 70px;
    background: rgba(249,165,3,1);
    opacity: 1;
    position: absolute;
    top: 788px;
    left: 1452px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 17px rgba(0.08627451211214066, 0.0941176488995552, 0.11764705926179886, 0.17000000178813934);
    overflow: hidden;
  }
  .v1_16411 {
    width: 118px;
    height: 66px;
    background: url("../images2/v1_164.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 1143px;
    overflow: hidden;
  }
  .v1_16511 {
    width: 118px;
    height: 66px;
    background: url("../images2/v1_165.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 1481px;
    overflow: hidden;
  }
  